<header>
    <ul>
        <a href="/" target="_blank"><li>Главная</li></a>
        <a href="/edit"><li>Старница</li></a>
        <a href="/portinf"><li>Портфолио</li></a>
        <a href="/imgload"><li>Добавить фото</li></a>
        <a href="/clearphoto"><li>Удалить фото</li></a>
        <a href="/sprite"><li>Загрузить Sprite</li></a>
    </ul>

</header>