<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <title>Максим Кикеня. Персональный сайт.</title>
    <link href="./styles/edit.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="mistakeWrapper">
        <h3 class="auth_mistake">Ошибка авторизации. Неверный логин или пароль.</h3>
        <a href="/admin"><button>Попробовать ещё</button></a>

    </div>

</body>