@media all and (max-width: 1270px) {
         
    .section0 {
        width: 725px;
    }
    

    
    header {
        height: 240px;
    }
    
    .sec1 {
        height: 860px;
    }
    
    .pilates {
        width: 100%;
        float: none;
    }
    
    .pic1 {
        float: none;
        display: block;
        margin: 30px auto;
    }
    
    .gallery {
        width: 660px;
        height: 650px;
        display: block;
        margin: 30px auto;
    }
    
    .section1 {
        margin-bottom: 150px;
    }
    
    .section3 {
        width: 725px;
        height: 700px;
    }
    
    #Clock {
        margin-left: -100px;
    }
    
    .flower5 {
        top: 3390px;
    }
}

@media all and (max-width: 726px) {
    body {
        width: 315px;
    }
    
    .section0 {
        width: 279px;
        margin-top: 250px;
        height: 140px;
    }
    
    .sec1 {
        height: 1500px;
    }
    
    .pic1 {
        width: 100%;
        height: 120px;
        border-radius: 2px;
    }
    
    .gallery {
        width: 290px;
        margin-top: 40px;
    }
    
    .section3 {
        width: 310px;
        margin: 0 auto;
        margin-top: -570px;
        height: 1400px;  
    }
    
    #Clock {
        margin-left: 28px;
    }
    
    .section4 {
        margin-top: -80px;
        height: 410px;
    }
    
    .Rasp1, .Rasp2 {
        width: 70%;
    }
    
    .Rasp2 {
        margin-left: -1px;
    }
    
    .flower5 {
        top: 4910px;
    }

    
}